<footer role="contentinfo">
	<p class="text-center"><b>Requester:</b>
	<span ng-if="applicationCtrl.userInformation.jobRole=='NAD' || applicationCtrl.userInformation.jobRole=='RAD' || applicationCtrl.userInformation.jobRole=='SAD' || applicationCtrl.userInformation.jobRole=='PDP' || applicationCtrl.userInformation.jobRole=='GUR' || applicationCtrl.userInformation.jobRole=='OTR' || applicationCtrl.userInformation.jobRole=='FSE' || applicationCtrl.userInformation.jobRole=='MGR' || applicationCtrl.userInformation.jobRole=='SDP'">{{applicationCtrl.userInformation.id}}</span>
	<p class="text-center">{{'application.copyright' | translate}}</p>
	<p class="text-center">Ford Proprietary, Private.</p>
</footer>