<h1>Login</h1>


<form class="" role="form" name="loginPage" novalidate>
<!--<div  ng-switch on="applicationCtrl.userInformation.jobRole">-->
<!--<div ng-switch-when="SAD">-->



<div class="row">
	<div class="col-sm-6">  
		<div class="form-group">
			<label for="loginId" class="control-label"><abbr class="required h6" title="Required">*</abbr>CDSID</label>
			<input id="loginId" name="loginId" type="text" placeholder="" class="form-control" ng-model="loginCtrl.cdsid" required>
		</div>
	</div>
	
</div>
	
<div class="row text-center">	
	<button id="login" name="login" class="btn btn-primary" ng-click="loginCtrl.toHomePage()" >Login</button>
</div>
	
</form>
<!--</div>-->
